@model AudioBook.Models.UserLogin
@{
    Layout = "~/Views/AudioBook/_LayoutAudioBook.cshtml";
}

        <section class="scrollable wrapper-lg">

                            <article id="post-540" class="post-540 page type-page status-publish hentry odd">
                                <header class="entry-header">
                                    <h1 class="text-black m-t-none m-b">Login</h1>
                                    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                                    {
                                        if (ViewBag.Message != null)
                                        {
                                            <div class="alert alert-danger">
                                                <strong>Error : </strong>@ViewBag.Message
                                            </div>
                                        }

                                    }
                                </header>
                                <!-- .entry-header -->
                                <div class="entry-content clearfix">
                                    <form id="edd_login_form" class="edd_form" action="@Url.Action("Login", "User")" method="post">
                                        @Html.AntiForgeryToken()
                                        <fieldset>
                                            <legend>Log into Your Account</legend>
                                            <p class="edd-login-username">
                                                <label for="edd_user_login">Username or Email</label>
                                                @Html.EditorFor(model => model.EmailOrUsername, new { htmlAtributes= new { @class= "required edd-input" , @id= "edd_user_login" } })
                                                @Html.ValidationMessageFor(model=>model.EmailOrUsername,"",new { @class="text-danger"})
                                            </p>
                                            <p class="edd-login-password">
                                                <label for="edd_user_pass">Password</label>
                                                @Html.EditorFor(model => model.password, new { htmlAtributes = new { @class = "password required edd-input", @id = "edd_user_pass" } })
                                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                            </p>
                                            <p class="edd-login-remember">
                                                <label>@Html.EditorFor(model => model.RememberMe, new { htmlAtributes = new { @id = "rememberme" } }) Remember Me</label>
                                                @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                                            </p>
                                            <p class="edd-login-submit">
                                                <input type="hidden" name="edd_redirect" value="" />
                                                <input type="hidden" name="edd_login_nonce" value="" />
                                                <input type="hidden" name="edd_action" value="user_login" />
                                                <input id="edd_login_submit" type="submit" class="edd_submit" value="Log In" />
                                            </p>
                                            <p class="edd-lost-password">
                                                <a href="../wp-loginc2b6.html?action=lostpassword">
                                                    Lost Password?
                                                </a>
                                            </p>
                                            <a href="@Url.Action("Register","User")" class="text-info">Register New Account</a>
                                        </fieldset>
                                    </form>
                                </div>
                                <!-- .entry-content -->
                                <footer class="entry-footer"></footer>
                                <!-- .entry-footer -->
                            </article>
                            <!-- #post-## -->

                        </section>

    <div class="modal fade" tabindex="-1" role="dialog" id="playlists">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="inline m-r-xs m-t-xs">&times;</span></button>
                    <h4 class="modal-title font-bold">Add to playlist</h4>
                </div>
                <div class="modal-body">
                    <div class="padder">
                        <div id="playlist-list" class="m-b">
                        </div>
                        <div id="playlist-new">
                            <h4 class="m-b-md">Create new</h4>
                            <div class="form-group">
                                <label>Playlist title</label>
                                <input type="text" class="form-control input-sm text-md" id="playlist-new-title">
                            </div>
                            <button type="button" class="btn btn-sm btn-default m-b-md font-bold btn-danger" id="playlist-new-save">Save</button>
                        </div>
                        <div id="playlist-error" class="hide">
                            <h4>Someting went wrong, try later</h4>
                        </div>
                    </div>
                    <div class="hide" id="playlist-list-item">
                        <div class="playlist-list-item padder-v b-b clearfix">
                            <div class="pull-right m-t-xs">
                                <button class="btn btn-sm btn-default" id="playlist-add">Add to playlist</button>
                                <button class="btn btn-sm btn-danger" id="playlist-del" style="display:none">Added</button>
                                <button class="btn btn-sm btn-link" id="playlist-remove" title="Remove"><i class="fa fa-remove"></i></button>
                            </div>
                            <a href class="pull-left m-r" id="playlist-thumb"><img width="40"></a>
                            <div class="clear">
                                <a href id="playlist-title" class="font-bold"></a>
                                <div id="playlist-count" class="text-muted"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>