
@{
    Layout = "~/Views/AudioBook/_LayoutAudioBook.cshtml";
}

@section StyleUser
    {
    <style id='bp-legacy-css-inline-css' type='text/css'>
        /* Cover image */

        #buddypress #header-cover-image {
            height: 225px;
        }

        #buddypress #create-group-form #header-cover-image {
            margin: 1em 0;
            position: relative;
        }

        .bp-user #buddypress #item-header {
            padding-top: 0;
        }

        #buddypress #item-header-cover-image #item-header-avatar {
            margin-top: 145px;
            float: left;
            overflow: visible;
            width: auto;
        }

        #buddypress div#item-header #item-header-cover-image #item-header-content {
            clear: both;
            float: left;
            margin-left: 170px;
            margin-top: -140px;
            width: auto;
        }

        body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content,
        body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
            clear: none;
            margin-top: 225px;
            margin-left: 0;
            max-width: 50%;
        }

        body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
            max-width: 20%;
            padding-top: 20px;
        }

        #buddypress div#item-header-cover-image .user-nicename a,
        #buddypress div#item-header-cover-image .user-nicename {
            font-size: 200%;
            color: #fff;
            margin: 0 0 0.6em;
            text-rendering: optimizelegibility;
            text-shadow: 0 0 3px rgba( 0, 0, 0, 0.8);
        }

        #buddypress #item-header-cover-image #item-header-avatar img.avatar {
            background: rgba( 255, 255, 255, 0.8);
            border: solid 2px #fff;
        }

        #buddypress #item-header-cover-image #item-header-avatar a {
            border: 0;
            text-decoration: none;
        }

        #buddypress #item-header-cover-image #item-buttons {
            margin: 0 0 10px;
            padding: 0 0 5px;
        }

            #buddypress #item-header-cover-image #item-buttons:after {
                clear: both;
                content: "";
                display: table;
            }

        media screen and (max-width: 782px) {
            #buddypress #item-header-cover-image #item-header-avatar, .bp-user #buddypress #item-header #item-header-cover-image #item-header-avatar, #buddypress div#item-header #item-header-cover-image #item-header-content;

        {
            width: 100%;
            text-align: center;
        }

        #buddypress #item-header-cover-image #item-header-avatar a {
            display: inline-block;
        }

        #buddypress #item-header-cover-image #item-header-avatar img {
            margin: 0;
        }

        #buddypress div#item-header #item-header-cover-image #item-header-content,
        body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content,
        body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
            margin: 0;
        }

        body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content,
        body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
            max-width: 100%;
        }

        #buddypress div#item-header-cover-image h2 a,
        #buddypress div#item-header-cover-image h2 {
            color: inherit;
            text-shadow: none;
            margin: 25px 0 0;
            font-size: 200%;
        }

        #buddypress #item-header-cover-image #item-buttons div {
            float: none;
            display: inline-block;
        }

        #buddypress #item-header-cover-image #item-buttons:before {
            content: "";
        }

        #buddypress #item-header-cover-image #item-buttons {
            margin: 5px 0;
        }

        }
        }
    </style>

    <script type='text/javascript'>
        /* <![CDATA[ */
        var BP_Confirm = {
            "are_you_sure": "Are you sure?"
        };
        /* ]]> */
    </script>




    <section class="scrollable wrapper-lg">
        <article class="bp_members type-bp_members post-0 page type-page status-publish hentry odd">
            <header class="entry-header">
                <h1 class="text-black m-t-none m-b">kncjdbvhjdfb vhj</h1>
            </header>
            <!-- .entry-header -->
            <div class="entry-content clearfix">
                <div id="buddypress">
                    <div id="item-header" role="complementary">
                        <style>
                            #buddypress #header-cover-image {
                                background-image: url();
                            }
                        </style>
                        <div id="cover-image-container">
                            <a id="header-cover-image" href="../index.html"></a>

                            <div id="item-header-cover-image">
                                <div id="item-header-avatar">
                                    <a href="../index.html">
                                        <img src="http://www.gravatar.com/avatar/349643e1f0f1d9ba322294161a10cabb?s=150&amp;r=g&amp;d=mm" class="avatar user-1509-avatar avatar-150 photo" width="150" height="150" alt="Profile picture of motasem">
                                    </a>
                                </div>
                                <!-- #item-header-avatar -->
                                <div id="item-header-content">
                                    <h2 class="user-nicename">@@cdsdvdfvd</h2>
                                    <div id="item-buttons"></div>
                                    <!-- #item-buttons -->
                                    <span class="activity">active 2 months ago</span>
                                    <div id="item-meta">
                                        <div id="latest-update">
                                        </div>
                                    </div>
                                    <!-- #item-meta -->
                                </div>
                                <!-- #item-header-content -->
                            </div>
                            <!-- #item-header-cover-image -->
                        </div>
                        <!-- #cover-image-container -->
                    </div>
                    <!-- #item-header -->
                    <div id="item-nav">
                        <div class="item-list-tabs no-ajax" id="object-nav" role="navigation">
                            <ul>
                                <li id="xprofile-personal-li" class="current selected"><a id="user-xprofile" href="">Profile</a></li>
                                <li id="playlists-personal-li"><a id="user-playlists" href="">Playlists</a></li>
                                <li id="settings-personal-li"><a id="user-settings" href="">Settings</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- #item-nav -->
                    <div id="item-body">
                        <div class="item-list-tabs no-ajax" id="subnav" role="navigation">
                            <ul>
                                <li id="public-personal-li" class="current selected"><a id="public" href="@Url.Action("UserProfilView","User")">View</a></li>
                                <li id="edit-personal-li"><a id="edit" href="@Url.Action("UserProfilEdit","User")">Edit</a></li>
                                <li id="change-avatar-personal-li"><a id="change-avatar" href="@Url.Action("UserProfilChangeProfilePhoto","User")">Change Profile Photo</a></li>
                                <li id="change-cover-image-personal-li"><a id="change-cover-image" href="@Url.Action("UserPlaylist","User")">Change Cover Image</a></li>
                            </ul>
                        </div>
                        <!-- .item-list-tabs -->
                        <div class="profile">
                            @RenderBody()

                        </div>
                        <!-- .profile -->

                    </div>
                    <!-- #item-body -->
                </div>
                <!-- #buddypress -->
            </div>
            <!-- .entry-content -->
            <footer style="height:60px" class="entry-footer"></footer>
            <!-- .entry-footer -->
        </article>
        <!-- #post-## -->
    </section>

